<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/class_zero_burentugs/titanic_data_analysis/basic_sql_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import sqlite3


# SQL

- Step 1. Download titanic.sqlite

- step 2. Upload file into notebook

- step 3. Run the first two cells

In [59]:
# Connect to the SQLite database
conn = sqlite3.connect('titanic.sqlite')

# Read the 'titanic' table into a pandas DataFrame
df = pd.read_sql('SELECT * FROM titanic', conn)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

# Use 'PassengerId', 'Name', 'Sex', 'Age' columns and save dataframe into database as passenger_info

In [6]:
# 1. Passenger Info Table
passenger_info = df[['PassengerId', 'Name', 'Sex', 'Age']]
passenger_info.to_sql('passenger_info', conn, if_exists='replace', index=False)

# 2. Ticket Info Table
ticket_info = df[['PassengerId', 'Ticket', 'Fare', 'Pclass']]
ticket_info.to_sql('ticket_info', conn, if_exists='replace', index=False)

# 3. Survival Status Table
survival_status = df[['PassengerId', 'Survived', 'Parch', 'SibSp']]
survival_status.to_sql('survival_status', conn, if_exists='replace', index=False)

891

In [7]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(tables)

              name
0          titanic
1   passenger_info
2      ticket_info
3  survival_status

# Find the Most Expensive Ticket Price


- Objective: Identify the most expensive ticket price in the dataset.
- Pandas: Use df['Fare'].max() to find the highest ticket price.
- SQL: Write a query like SELECT MAX(Fare) FROM titanic;.

In [8]:
df['Fare'].max()

512.3292

In [9]:
df = pd.read_sql("SELECT MAX(Fare) FROM titanic;", conn)
df

   MAX(Fare)
0   512.3292

# Task 1: Find the Youngest and Oldest Passenger

In [38]:
df['Age'].min()

0.42

In [21]:
df['Age'].max()

80.0

# Task 2: Count the Number of Passengers by Embarkation Port

In [50]:
query = '''
select Embarked, count(*) as Count from titanic GROUP BY Embarked
'''

df = pd.read_sql(query, conn)

df

  Embarked  Count
0     None      2
1        C    168
2        Q     77
3        S    644

In [71]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

# Task 3: List the Names of the Top 5 Wealthiest Passengers

In [54]:
query = '''
select Name, Fare from titanic order by fare desc limit 5
'''
df = pd.read_sql(query, conn)

df

                                 Name      Fare
0                    Ward, Miss. Anna  512.3292
1  Cardeza, Mr. Thomas Drake Martinez  512.3292
2              Lesurer, Mr. Gustave J  512.3292
3      Fortune, Mr. Charles Alexander  263.0000
4          Fortune, Miss. Mabel Helen  263.0000

In [ ]:
# Your SQL code is here

# Task 4: Calculate the Average Fare by Passenger Class

In [57]:
df.groupby('Pclass')['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [ ]:
# Pandas

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

# Task 5: List All Passengers Who Were Traveling Alone

In [61]:
df[(df['SibSp'] == 0) & (df['Parch'] == 0)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,None,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [ ]:
# Your pandas code is here

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,None,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [63]:
q = '''
select * from titanic where SibSp = 0 and Parch = 0
'''
pd.read_sql(q, conn)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
1,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
2,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
3,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
532,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,None,S
533,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
534,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
535,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
536,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [ ]:
q = # Your code is here

pd.read_sql(q, conn)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
1,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
2,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
3,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
532,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,None,S
533,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
534,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
535,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
536,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q